<div class="nav">
    <a href="#!/dashboard" class="dashboardLink" name="button">Dashboard</a>
    <a href="#" class="alertLink"  name="button">Alert</a>
    <a href="#!/user/{{user._id}}" class="myProfileLink"  name="button">My profile</a>
    <a href="/logout" class="right" name="button">Logout</a>
</div>
 <div id="container">
  <div id="display"></div>
    <div id="error"></div>
    <p>Conversation Board</p>
    <ul id="message_board"></ul>
    <form id="new_message">
      <input type="text" id="message" placeholder="enter your message here">
      <input type="submit" value="Send">
    </form>
  </div>  

<<!-- body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body> -->