<!-- *********NAV BAR********** -->
<nav class="nav-extended" style="background-color: #4d0000;">
    <div class="nav-wrapper">
      <a href="#!/dashboard" class="brand-logo center"><img class="logo" src="/images/IMG_0046.PNG" style="width: 150px; height: 90px; margin-top: 10px;"></a></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!/user/{{user._id}}">My Profile</a></li>
        <li><a href="#!/logout">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#!/user/{{user._id}}">My Profile</a></li>
        <li><a href="#!/logout">Logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#!/show" style="font-size: 18pt; color: white;">All shows</a></li>
        <li class="tab"><a class="active" href="#!/show/user/{{user._id}}" style="font-size: 18pt; color: white;">My Shows</a></li>
      </ul>
    </div>
</nav>
<!-- *********NAV BAR********** -->

<!-- DIV DASHBOARD SHIT* *************************************** -->
<div id="container_dashboard">
  <h3>Welcome, {{user.name}}!</h3>

  <!-- MIDDLE CONTENTS***************************************************** -->
  <div id="middle_content">
    <!-- MATERIALIZE CAROUSEL -->

    <div class="carousel">
      <a class="carousel-item" href=""><img src="http://img.kbhgames.com/2016/10/Real-Horror-Stories.jpg"></a>
      <a class="carousel-item" href=""><img src="http://rs575.pbsrc.com/albums/ss191/basketofcandles/television/mash.jpg~c200"></a>
      <a class="carousel-item" href=""><img src="http://cdn.newsserve.net/i/20160803/3231-Suits-Gets-Season-Renewal-From-USA-Network.jpg"></a>
      <a class="carousel-item" href=""><img src="http://cdn-images.deezer.com/images/cover/e95c56161aec0e2da72183f11c2dc0dc/200x200-000000-80-0-0.jpg"></a>
      <a class="carousel-item" href=""><img src="https://qph.ec.quoracdn.net/main-thumb-t-192217-200-abwrrdtvhnnaidpkxmoucrplsfooaxzh.jpeg"></a>
    </div>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({dist:0});
      window.setInterval(function(){$('.carousel').carousel('next')},1500)
   });
    </script>

    <div class="scroll">
      <h1>Top Shows</h1>
    <div ng-repeat="show in shows" class="img_id">
      <div class="" ng-if="show.rating.average > 9 | limitTo:240">
        <a href="#!/show/{{show.name}}"><img src="{{show.image.original}}" height="400px" width="400px"/></a>
      </div>
    </div>
    </div>
  </div>
</div>
