<div class="nav">
    <a href="#!/show" class="dashboardLink" name="button">All Shows</a>
    <a href="#" class="alertLink"  name="button">Alert</a>
    <a href="#!/user/{{user._id}}" class="myProfileLink"  name="button">My profile</a>
    <a href="/logout" class="right" name="button">Logout</a>
</div>


<!-- DIV DASHBOARD SHIT* *************************************** -->
<div id="container_dashboard">
  <!-- MIDDLE CONTENTS***************************************************** -->
  <div id="middle_content">
    <h3>Welcome, {{user.name}}!</h3>
    <h1>Top Shows</h1>
    <div class="scroll">
    <div ng-repeat="show in shows" class="img_id">
      <div class="" ng-if="show.rating.average > 9 | limitTo:240">
        <img src="{{show.image.original}}" height="400px" width="400px"/>
      </div>
    </div>
    </div>
  </div>

  <div id="user_content"></div>
  <div id="all_show"></div>
  <div id="featured_shows"></div>
</div>
