<!-- *********NAV BAR********** -->
<nav class="navBar">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center"><img class="logo" src="/images/IMG_0046.PNG"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" id="listNavBar">
      <li><a href="#!/login">Login</a></li>
      <li><a href="#!/register">Sign up</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#!/login">Login</a></li>
      <li><a href="#!/register">Sign up</a></li>
    </ul>
  </div>
</nav>
<!-- **********END NAV********** -->

<title>Home</title>
<div id="home_container">
    <div class="hometext">
  		<h2 id="name" class="shake-slow shake-constant shake-freeze"><b>ShowRooms</b></h2>
      <h4 id="info">Never miss a show with your friends</h4>
      <h4 id="info2"><span class="glyphicon glyphicon-phone"></span><b> Get text notifications on when your favorite shows start! </b> </h4>
      <h4 id="info3"><span class="glyphicon glyphicon-comment"></span> <b> Live chat with other fans in show chat rooms!</b> </h4>
    </div>
</div>
<script>
  $( document ).ready(function(){
     $(".button-collapse").sideNav();
  })
</script>
