<!-- **********NAV BAR********* -->
<nav class="nav-extended" style="background-color: #4d0000; height: 97px">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><img class="logo" src="/images/IMG_0046.PNG" style="width: 150px; height: 90px; margin-top: 10px;"></a></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!/login">Login</a></li>
        <li><a href="#!/register">Register</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#!/login">Login</a></li>
        <li><a href="#!/register">Register</a></li>
      </ul>
    </div>
</nav>
<!-- *********END NAV********* -->
<div class="background">
    <div class="form">
        <form name="registerForm">
        	<label for="">Username: </label>
            <input type="text" ng-model="newUser.name" name="name" required minlength="2">
            <label for=""> Email: </label>
            <input type="email" ng-model="newUser.email" name="email" required>
            <label for="">Phone Number: </label>
            <input type="tel" ng-model="newUser.phone" name="phone" required minlength="10">
            <label for="">Password: </label>
            <input type="password" ng-model="newUser.password" name="password" required minlength="8">
            <label for="">Password Confirmation: </label>
            <input type="password" ng-model="newUser.pass_conf" name="pass_conf" required minlength="8">
            <input type="submit" ng-click="register(newUser)" value="Register">
        </form>
    </div>
    <div class="allerrors">
    <div class="errors" ng-messages="registerForm.name.$error">
    	<p ng-message="required">Username is required.</p>
    	<p ng-message="minlength">Username must have at least 2 characters.</p>

    </div>
    <div class="errors" ng-messages="registerForm.email.$error">
    	<p ng-message="required">Email is required.</p>
    	<p ng-message="email">Email must be valid.</p>
    </div>
    <div class="errors" ng-messages="registerForm.phone.$error">
    	<p ng-message="required">Phone is required.</p>
    	<p ng-message="phone">Phone must be valid.</p>
    </div>
    <div class="errors" ng-messages="registerForm.password.$error">
    	<p ng-message="required">Password is required.</p>
    	<p ng-message="minlength">Password mmust have at least 8 characters.</p>
    </div>
    <p class="errors" ng-if="newUser.password != newUser.pass_conf">Passwords do not match.</p>
    </div>
</div>
