<div class="form">
    <form class="" action="" method="post">
        <label for=""> Email: </label>
        <input type="email" name="" value="">
        <label for="">Username: </label>
        <input type="text" name="" value="">
        <label for="">Password: </label>
        <input type="password" name="" value="">
        <label for="">Password Confirmation: </label>
        <input type="password" name="" value="">
        <label for="">Phone Number: </label>
        <input type="text" name="" value="">
        <input type="submit" name="" value="Register">
    </form>
</div>
<h1>hahahaha</h1>