<div class="nav">
    <a href="#!/dashboard" class="dashboardLink" name="button">Dashboard</a>
    <a href="#" class="alertLink"  name="button">Alert</a>
    <a href="#!/user/{{user._id}}" class="myProfileLink"  name="button">My profile</a>
    <a href="/logout" class="right" name="button">Logout</a>
</div>
<div class="wrapper">
  <input type="text" id="search" ng-model="filter_name">
    <div class="">
      <h1 class="title">ShowRooms</h1>
          <h6 class="subtitle">Never miss a show with your friends</h6>
    </div>
      <div  class="container">
          <a id="allshows" class="waves-effect waves-light btn">All Shows</a>
          <a id="allshows" class="waves-effect waves-light btn">Favorites</a>
          <a id="allshows" class="waves-effect waves-light btn">Genre</a>
      </div>
      <dir-pagination-controls class="controls"></dir-pagination-controls>
    <div class="Shows">
  	    <div class="grid_item" dir-paginate= "show in shows | filter:filter_name | itemsPerPage: 24">
  	       <a href="#!/show/{{show.name}}"><img src="{{show.image.medium}}" class="img-rounded" alt="{{show.name}}"></a>
  	     </div>
         <div class="bottomcontrols">
           <dir-pagination-controls></dir-pagination-controls>
         </div>

    </div>
</div>