<div class="nav">
    <a href="#!/dashboard" class="dashboardLink" name="button">Dashboard</a>
    <a href="#" class="alertLink"  name="button">Alert</a>
    <a href="#!/user/{{user._id}}" class="myProfileLink"  name="button">My profile</a>
    <a href="/logout" class="right" name="button">Logout</a>
</div>
<div class="container">
<div class="Left_Column">
    <div class="profile">
        <a href="">Show</a>
        <ul>
            <li><a href="">Show Pic</a></li>
            <div class="show_pic">
              <img src="{{show.image.medium}}" class="img-rounded" alt="ProfilePic">
              <h1>{{show.name}}</h1>
            </div>
        </ul>
    </div>
    <div class="Chat Room">
        <h2>Chat Room</h2>
        <p><a href="#!/show/{{show.id}}/chatroom">Chat about this Show</a></p>
    </div>
</div>
                <!-- End of Left Column -->
    <div class="showinfo">
        <h2>Description</h2>
        {{show.summary}}
        <p>Raiting{{show.raiting.average}}</p>
        <p ng-repeat="days in show.schedule.days">Schedule: every {{days}} at {{show.schedule.time}}</p>
        <p>Premiered: {{show.premiered}}</p>
       <p>Genres:<span ng-repeat="genres in show.genres"> {{genres}}- </span> </p>
    </div>
<div class="Right_Column">
    <div class="">
        <h2>User Commands</h2>
        <ul>
            <li>Update Email and Password</li>
            <li>Update Chatrooms</li>
            <li>Update Notification</li>
        </ul>
    </div>
    <div class="People_to_follow">
        <h2>Show Followers</h2>
        <p>Here is where users look at profiles of other users with similar interests</p>
        <ul>
          <h4>Random User 1</h4>
          <ul>
            <li>Favorite shows</li>
              <p>Band of brothers</p>
            <li>Chat groups</li>
          </ul>
          <h4>Random User 2</h4>
          <ul>
            <li>Favorite shows</li>
              <p>Martin</p>
            <li>Chat Group</li>
          </ul>
        </ul>
    </div>
  </div>
                    <!-- End of Right Column  -->
    <div class="footer">
        <p>AboutUs Support Contact <a href="">ShowRooms!</a></p>
    </div>
</div>

