<div class="nav">
    <a href="#!/dashboard" class="left" name="button"><img class="logo" src="/images/IMG_0046.PNG"></a>
    <a href="#" id="middlealert" name="button">Alert</a>
    <a href="#!/user/{{user._id}}" id="midrighter" name="button">My profile</a>
    <a href="/logout" id="righter" name="button">Logout</a>
</div>
<div class="space">
    <h6>Welcome {{user.name}}</h6>
</div>
<!-- <ul ng-repeat="show in user.shows">
	<li>{{show.name}}</li>
</ul> -->
<div class="yellow">

</div>
<div class="blue">
    <h6>blue</h6>
</div>
