<div class="nav">
    <a href="#!/dashboard" class="left" name="button"><img class="logo" src="/images/IMG_0046.PNG"></a>
    <a href="#" id="middlealert" name="button">Alert</a>
    <a href="#!/user/{{user._id}}" id="midrighter" name="button">My profile</a>
    <a href="/logout" id="righter" name="button">Logout</a>
</div>
<div class="space">
    
</div>
<div class="yellow">
<h3>Welcome {{user.name}}</h3>
<ul ng-repeat="show in user.shows">
	<li><img src="{{show.image.medium}}" alt=""></li>
</ul>

</div>
<div class="blue">
    <h6>blue</h6>
</div>
