


<div class="row">
  <div class="col-*-*"></div>
</div>
<div class="row">
  <div class="col-*-*">Pic</div>
  <div class="col-*-*">Chat</div>
  <div class="col-*-*">Desc</div>
</div>
<div class="row">
  ...
</div>


<!-- <div class="show_one_grid">
  <div class="show_one_pic">
    <h1>Picture</h1>
    <button type="button" class="btn btn-primary">Picture</button>
  </div>
  <div class="chat_room">
    <h1>Chat Room</h1>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="description">
    <h1>Description</h1>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="user_comments">
    <h1>User Comments</h1>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="people_to_follow">
    <h1>People to follow</h1>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div> -->
