
<div id="shows" class="shows_left">
    <ul id="">
      <li><a href="#">Your Favorites</a></li>
      <li><a href="#">Popular Shows</a></li>
      <li><a href="#">All Shows</a></li>
    </ul>
</div>
<div class="shows_grid">
    <div class="grid_item">
      <img src="http://epguides.com/Billions/cast.jpg" class="img-rounded" alt="Billions" width="304" height="236">
      <h1>Billions</h1>
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="grid_item">
      <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>

</div>
