<div class="nav">
    <a href="#!/dashboard" class="dashboardLink" name="button">Dashboard</a>
    <a href="#" class="alertLink"  name="button">Alert</a>
    <a href="#!/user/{{user._id}}" class="myProfileLink"  name="button">My profile</a>
    <a href="/logout" class="right" name="button">Logout</a>
</div>
<div class="wrapper">
  <div class="Left_Column">
      <h1>Shows</h1>
      <ul  class='dropdown_content'>
          <li><a href="#!">All Shows</a></li>
          <li><a href="#!">Favorites</a></li>
          <li><a href="#!">Genre</a></li>
      </ul>
  </div>
  <div class="Shows">
	    <div class="grid_item" dir-paginate= "show in shows  | itemsPerPage: 10">
	       <a href="#!/show/{{show.name}}"><img src="{{show.image.medium}}" class="img-rounded" alt="{{show.name}}"></a>
	     </div>
    </div>
    <dir-pagination-controls></dir-pagination-controls>
</div>
