/******** TOP NAV BAR*********/
.myProfile{
     margin-right: 2%;
}
.dashboardLink{
    margin-right: 2%;
    margin-top: 13px;
    display: inline-block;
}
.alertLink{
    margin-right: 2%;
    margin-left: 67%;
    margin-top: 13px;
    display: inline-block;
}
/******** END OF TOP NAV BAR*********/

#container_dashboard{
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 5px;

}
#middle_content{
  display: inline-block;
  height: 800px;
  width: 100%;
  background-color: black;
  padding-top: 100px;
}
#middle_content > h3{
  text-align: center;
  color: #FAEBD7;
}
#middle_content > h1{
  color: #FAEBD7;
}

.mySlides{
  height: 50%;
  width: 40%;
  margin-left: 200px;
  vertical-align: top;
}
#l_content{
  height: 400px;
  width: 400px;
  background-color: transparent;
}
img.mySlides{
  vertical-align: top;
}
.img_id{
  display: inline-block;
  vertical-align: top;
}
.scroll{
  height: 500px;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
.scroll::-webkit-scrollbar {
   width: 12px;
}

.scroll::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(192,192,192,0.2);
   border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(192,192,192,0.2);
}
.scroll::-webkit-scrollbar-corner{
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(192,192,192,0.5);
}
