*{
  margin: 0px;
  padding: 0px;
}

#container{
  width: 950px;
  background-color: beigh;
  margin: 0px auto;
  padding-left: 15px;
}

#user_shows{
  width: 20px;
  height: 50px;
  border: black solid 1px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {-
 width: 50%;
 margin: auto;
 }
