#home_container{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 2px;
  border-top-color: black;
  border-top-style: solid;
      text-align: center;

}
#main_content{
  width: 100%;
  height: 100%;
}

#photo{
    width: 100%;
    height: 50%;
    margin-top: 0px;
}
.hometext{
    margin-top: 15%;
    text-align: center;
}
#name{
    margin-top: -100%;
    color: white;
    font-size: 800%;
    text-shadow: 2px 5px #c60d0d;
}
#info{
    color: white;
    font-size: 55px;
    text-shadow: 2px 3px #c60d0d;

}
#info2{
    font-size: 23px;
    margin-top: 4%;
    color: white;
    width: 300px;
    text-align: center;
    display: inline-block;
            text-shadow: 2px 2px #c60d0d;

}
#info3{
    font-size: 23px;
    margin-top: 4%;
    color: white;
    width: 300px;
    margin-left: 10%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
<<<<<<< HEAD
}
.space{
    height: 30px;
    width: 100%;
    visibility: hidden;
}
.white{
    background-color: white;
    width: 100%;
    height: 40%;
    border-radius: 20px;
    border-style: solid;
}
#message_board{
    height: 400px;
    overflow: auto;
}
#whitecolor{
    color: white;
    margin-left: 40px;
}
#new_message{
    margin-left: 20px;
    width: 90%;
    color: white;
}
li{
    margin-left: 10px;
}
.inner{
    width: 1220px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hometext{
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: center;
}
.fixingspacing{
    margin-top: 9px;
}
.allerrors{
    position: absolute;
    top: 230px;
    left: 350px;
}
.errors{
    margin-bottom: 120px;
}
.moverleft{
    margin-left: 5%;
}
#conversation_board{
  color: white;
}
=======
    text-shadow: 2px 2px #c60d0d;

}
>>>>>>> c1cac958a30629802cdf40b22bfce7c3e7e3b618
