*{
  margin: 0px;
  padding: 0px;
}

#container{
  width: 950px;
  width: 1000px;
  background-color: beigh;
  margin: 0px auto;
  padding-left: 15px;
}
#main_content{
  width: 800px;
  height: 600px;
  border: black solid 1px;
}
/*carousel*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;

      margin: auto;
  }
.carousel-caption {
  height: 900px;
  width: 800px;
}
#myCarousel{
  height: 300px;
}
#carousel{
  width: 200px;
  height: 200px;
}
