.right{
    margin-right: 2%;
    margin-top: 13px;
    display: inline-block;
}
.midright{
    margin-right: 2%;
    margin-left: 77%;
    margin-top: 13px;
    display: inline-block;
}
.left{
    margin-top: 13px;
    display: inline-block;
    margin-left: 20px;
}
.nav{
    background-color: white;
    padding: 0px;
    height: 50px;
    width: 100%;
}
.form{
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
    color: white;
}
input[type=submit]{
    background-color: inherit;
}
