#right{
    margin-left: 30px;
    margin-top: 55px;
    color: white;
}
#midright{
    margin-left: 1000px;
    margin-top: 50px;
    color: white;
}
.left{
    margin-top: 13px;
    display: inline-block;
    margin-left: 20px;
}
.nav{
    background-color: #270722;
    border-bottom: 2px;
    border-color: #b5b5b7;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 60px;
    padding: 18px;
}
.form{
    width: 50%;
    margin-left: 20%;
    margin-top: 4%;
    color: white;
}
.background{
    background-color: white;
    width: 70%;
    margin-left: 15%;
    height: 630px;
    padding: 2px;
    border-bottom: 10px;
    border-right: 10px;
    border-color: grey;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    margin-top: 25px;
    border-radius: 80px;
}
input[type=submit]{
    color: black;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #EC7357;
}
.errors{
    margin-left: 500px;
    margin-top: -10px;
}
form{
    color: black;
    font-size: 20px;
}
label{
    font-size: 20px;
}
