.container{
    width: 100%;
    padding: 10px;
    height: 100%;
}
.card{
  width: 30%;
  display: inline-block;
  margin: 0;

}
.showinfo{
  width: 30%;
  background-color: #F4E3B2 ;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-style: solid;
  border-color: #EC7357;
  border-width: 5px;
}
.right_column{
  width: 30%;
  background-color: #EC7357;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-style: solid;
  border-color: #CC2936;
  padding-top: 10px;
  border-width: 5px;
}
.show-content{
  background-color: #FCD0A1;
  border: #EC7357;
}
.showratings{
  border-color: #CC2936  ;
  border-style:hidden;
}

<<<<<<< HEAD
}

.turn_on{
  color: black;
}
.off_on{
  color: black;
}
.collapsible-body{
  color: #FCD0A1;

.middletext{
    position: absolute;
    top: -10px;
}
.aligndown{
    position: absolute;
    top: 60px;
    left: 83%;
}
.Shows{
    margin-left: 7%;

}
.homepage-banner {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .animation-container video,
.touch .animation-container video {
    display: none;
}
.no-video .animation-container .animation,
.touch .animation-container .animation {
    display: block !important;
}
.animation-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.animation-container .animation img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.animation-container .mask {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.animation-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.animation-container video.fillScreen {
    width: 100%;
}
.Chat_Room{
    display: inline-block;
}
.label{
  text-emphasis-color: black;
}
=======
#episodes{
  background-color: white;
}
>>>>>>> c1cac958a30629802cdf40b22bfce7c3e7e3b618
