.Left_Column{
    width: 970px;
    margin: 0px;
    background-color: #700000;
    padding: 0px;
}
#navbar{
  width: 180px;
  background-color: #2f7d8b;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
