.container{
    width: 100%;
    padding: 10px;
    height: 100%;
    max-width: 100%;
}
.card{
  width: 30%;
  display: inline-block;
  margin: 0;

}
.showinfo{
  width: 30%;
  background-color: #F4E3B2 ;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-style: solid;
  border-color: #EC7357;
  border-width: 5px;
}
.right_column{
  width: 30%;
  background-color: #EC7357;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-style: solid;
  border-color: #CC2936;
  padding-top: 10px;
  border-width: 5px;
}
.show-content{
  background-color: #FCD0A1;
  border: #EC7357;
}
.showratings{
  border-color: #CC2936  ;
  border-style:hidden;
}
.collapsible .collapsible-header {
  margin: 0;
  padding: 0;
}
.collapsible .collapsible-body {
  margin: 0;
  padding: 0;
}

.show_info{
  color:white;
  font-size: 1.1rem;
}
.season_box{
  width: 65%;
  height: 100%;
  /*background-color: grey;*/
  display: inline-block;
  vertical-align: top;
}
.season_box md-content {
  background-color: transparent !important; 
  /*padding: 10px; */
}
.season_box md-content .md-padding {
  background-color: transparent !important; 
  padding: 10px; 
}
.season_box md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; 
}
.season_box md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; 
}
.season_box md-content md-tabs md-tabs-wrapper {
  background: white; 
}
.season_box md-content p{
  padding: 5px;
  font-size: 1.1rem;
  
}
.toggler {
  cursor: pointer;
}
.toggler a:hover{
  visibility: visible 
}
